#bgimage{
	min-height: 800px;
	background-image: url(../image/icecreamback.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
#item
{
	background-color: LAVENDERBLUSH;
	font-family: 'Pacifico', cursive;
	font-size: 12px;
}
#text{
	padding: 25% 0 30% 45%;
	text-align: center;
	font-size: 40px;
	font-family: 'Pacifico', cursive;
	color: #8B008B;
}

#text1,#text2{
		text-align: center;
		color: LIGHTCORAL;
}
#text1{
	font-size: 50px;
}
#text2{
	font-size: 25px;
}
.content a{
	font-family: 'Indie Flower', cursive;
}
#seg{
	text-align: center;
	padding-top: -150px;
	padding-bottom: -70px;
}
#welcome{
	width:100%;
	height:620px;
}
#bgc{
	background-color: #ecc093;
}
#footer
{
	margin-top: 5px;
}
#footer a:hover{
	color: white;
}
#imgbody
{
	background-image: url("../image/signup.jpg");
	background-repeat: no-repeat;
}
#aligncont h1{
	text-align: center;
	padding-right: 70px;
	margin-top: 70px;
}
#mobile{
  display: none;
}
#web{
  display: flex;
}

@media only screen and (max-width:760px){
#mobile{
  display: flex;
}
#web{
  display: none;
}
#image{
  display: none;
}
}
